In [1]:
import pandas as pd

In [3]:
engagement_level = pd.read_csv("Abdallah_et_al__2020/Student Engagement Level Prediction - Binary Case/Student Engagement Level-Binary.csv")
performance = pd.read_csv("Abdallah_et_al__2020/Student Performance Prediction-Binary Scenario/Student Performance Prediction-Binary.csv")

In [10]:
engagement_level.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486 entries, 0 to 485
Data columns (total 14 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Student ID                                    486 non-null    object
 1   # Logins                                      486 non-null    int64
 2   # Content Reads                               486 non-null    int64
 3   # Forum Reads                                 486 non-null    int64
 4   # Forum Posts                                 486 non-null    int64
 5   # Quiz Reviews before submission              486 non-null    int64
 6   Assignment 1 lateness indicator               486 non-null    int64
 7   Assignment 2 lateness indicator               486 non-null    int64
 8   Assignment 3 lateness indicator               486 non-null    int64
 9   Assignment 1 duration to submit (in hours)    486 non-null    float64
 10  Assignment 2 duration to submit (in hours)    486 non-null    float64
 11  Assignment 3 duration to submit (in hours)    486 non-null    float64
 12  Average time to submit assignment (in hours)  486 non-null    float64
 13  Engagement Level                              486 non-null    object
dtypes: float64(4), int64(8), object(2)
memory usage: 53.3+ KB

In [11]:
performance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486 entries, 0 to 485
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Student ID         486 non-null    object
 1   Quiz01 [10]        486 non-null    int64
 2   Assignment01 [8]   486 non-null    int64
 3   Midterm Exam [20]  486 non-null    int64
 4   Assignment02 [12]  486 non-null    int64
 5   Assignment03 [25]  486 non-null    int64
 6   Final Exam [35]    486 non-null    int64
 7   Course Grade       486 non-null    int64
 8   Total [100]        486 non-null    int64
 9   Class              486 non-null    object
dtypes: int64(8), object(2)
memory usage: 38.1+ KB

In [12]:
len(engagement_level)

486

In [13]:
len(performance)

486

In [14]:
performance.drop(columns=["Student ID"], inplace=True)

In [15]:
df = pd.concat([engagement_level, performance], axis=1)

In [17]:
df.head()

,Student ID,# Logins,# Content Reads,# Forum Reads,# Forum Posts,# Quiz Reviews before submission,Assignment 1 lateness indicator,Assignment 2 lateness indicator,Assignment 3 lateness indicator,Assignment 1 duration to submit (in hours),...,Engagement Level,Quiz01 [10],Assignment01 [8],Midterm Exam [20],Assignment02 [12],Assignment03 [25],Final Exam [35],Course Grade,Total [100],Class
0,student000000,143,344,58,0,3,0,0,0,178.166667,...,H,95,91,70,90,84,64,85,85,G
1,student000001,70,342,0,0,4,0,0,0,294.033333,...,L,85,76,65,61,73,64,76,76,G
2,student000002,42,219,0,0,3,0,0,0,169.600000,...,L,85,41,73,61,73,61,73,73,G
3,student000003,92,271,2,0,6,0,0,0,341.150000,...,L,80,78,80,79,79,57,80,79,G
4,student000004,116,379,0,0,1,0,0,0,325.500000,...,L,85,91,78,80,84,67,85,85,G

In [26]:
X = df.drop(columns=["Class"])
y = df["Class"]

In [27]:
df = pd.concat([X, y], axis=1)

In [28]:
df.to_csv("final_data.csv")

In [29]:
df

,Student ID,# Logins,# Content Reads,# Forum Reads,# Forum Posts,# Quiz Reviews before submission,Assignment 1 lateness indicator,Assignment 2 lateness indicator,Assignment 3 lateness indicator,Assignment 1 duration to submit (in hours),...,Engagement Level,Quiz01 [10],Assignment01 [8],Midterm Exam [20],Assignment02 [12],Assignment03 [25],Final Exam [35],Course Grade,Total [100],Class
0,student000000,143,344,58,0,3,0,0,0,178.166667,...,H,95,91,70,90,84,64,85,85,G
1,student000001,70,342,0,0,4,0,0,0,294.033333,...,L,85,76,65,61,73,64,76,76,G
2,student000002,42,219,0,0,3,0,0,0,169.600000,...,L,85,41,73,61,73,61,73,73,G
3,student000003,92,271,2,0,6,0,0,0,341.150000,...,L,80,78,80,79,79,57,80,79,G
4,student000004,116,379,0,0,1,0,0,0,325.500000,...,L,85,91,78,80,84,67,85,85,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,student000481,98,281,0,0,1,0,0,0,175.200000,...,H,90,85,93,87,81,77,92,92,G
482,student000482,85,258,1,0,2,0,0,0,127.633333,...,H,80,68,93,70,83,83,90,90,G
483,student000483,99,206,0,0,6,0,0,0,177.850000,...,L,80,86,93,95,90,83,96,96,G
484,student000484,51,158,0,0,2,0,0,0,125.900000,...,H,75,68,80,76,88,50,78,78,G
485,student000485,89,289,0,0,0,0,0,0,313.183333,...,L,85,81,88,86,96,60,88,88,G